<div
  class="flex flex-column justify-content-center align-items-center h-screen p-5"
>
  @if (!(isLoading | async)) { @if (isPlaying) {
  <div class="w-9 m-auto flex flex-column gap-2">
    <app-timer
      [timeLeft]="(timeLeft | async)!"
      [startTime]="guessDuration"
    ></app-timer>
    <p-button
      label="Passer"
      icon="pi pi-angle-double-right"
      iconPos="right"
      [text]="true"
      severity="secondary"
      class="align-self-end"
      (onClick)="skip()"
      [disabled]="(timeLeft | async)! <= 3"
    ></p-button>
  </div>
  <div class="align-self-end">
    <app-volume-slider></app-volume-slider>
  </div>
  } @else {
  <div class="h-full">
    <app-answer
      [albumImg]="getCurrentTrack().album.images[1].url"
      [albumName]="getCurrentTrack().album.name"
      [artistName]="getCurrentTrack().artists[0].name"
      [title]="getCurrentTrack().name"
      (onNext)="nextSong()"
    ></app-answer>
  </div>
  } } @else {
  <app-loader></app-loader>
  }
</div>
